{% extends 'layout.html.twig' %}


{% block body %} 
<div class="row card table-responsive" style="padding:30px;width:95%;">
    <h1>Liste Professeur</h1>
<br>
<hr style="text-align:center;">
  <table id="datatable-buttons" class="table table-striped table-bordered">
               <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Dateofbirth</th>
                <th>Lieunaissance</th>
                <th>Image</th>
                <th>Numpiece</th>
                <th>MobileNumber</th>
                <th>FixNumber</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for professeur in professeurs %}
            <tr>
                <td>{{ professeur.id }}</td>
                <td>{{ professeur.prenom }}</td>
                <td>{{ professeur.nom }}</td>
                <td>{{ professeur.dateofbirth }}</td>
                <td>{{ professeur.lieunaissance }}</td>
                <td><image src="data:image/png;base64,{{ professeur.image }}" ></td>
                <td>{{ professeur.numpiece }}</td>
                <td>{{ professeur.mobileNumber }}</td>
                <td>{{ professeur.fixNumber }}</td>
                <td>{{ professeur.adresse }}</td>
                <td>{{ professeur.email }}</td>
                <td>
                    <a href="{{ path('professeur_show', {'id': professeur.id}) }}">show</a>
                    <a href="{{ path('professeur_edit', {'id': professeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Pas de resultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
